@font-face {
  font-family: "OpenSansRegular";
  font-display: swap;
  src: url("../fonts/open-sans-regular.woff2") format("woff2"), url("../fonts/open-sans-regular.woff") format("woff"); }

@font-face {
  font-family: "OpenSansBold";
  font-display: swap;
  src: url("../fonts/open-sans-bold.woff2") format("woff2"), url("../fonts/open-sans-bold.woff") format("woff"); }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

body {
  font-family: "OpenSansRegular", sans-serif;
  margin: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }

h1, h2, h3 {
  margin: 0; }

blockquote,
p {
  margin: 0; }

@media (min-width: 320px) {
  body {
    margin: 0 auto; } }

.button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 52px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "OpenSansBold";
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #444444;
  background-color: white;
  border: 2px solid #444444; }

.about-us {
  box-sizing: border-box;
  padding-right: 29px;
  padding-left: 29px;
  padding-bottom: 30px;
  font-family: "OpenSansBold", sans-serif;
  color: black; }

.about-us__title {
  box-sizing: border-box;
  padding: 30px 0;
  font-size: 25px;
  line-height: 30px; }

.about-us__list {
  font-size: 17px;
  line-height: 20px; }

.about-us__item {
  height: 90px; }

@media (min-width: 768px) {
  .about-us {
    padding-left: 50px;
    padding-right: 50px; }
  .about-us__title {
    font-size: 43px;
    line-height: 50px; }
  .about-us__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 395px;
    font-size: 20px;
    line-height: 22px; }
  .about-us__item {
    flex-basis: 100px;
    max-width: 36%; } }

@media (min-width: 1250px) {
  .about-us {
    margin: 0 100px;
    padding: 0; }
  .about-us__title {
    margin: 0 16.66%;
    font-size: 53px;
    line-height: 57px; }
  .about-us__list {
    margin: 0 16.66%;
    font-size: 20px;
    line-height: 22px; } }

.categories {
  margin: 0 auto; }

.categories__title {
  font-family: "OpenSansBold", sans-serif;
  font-size: 19px;
  line-height: 24px;
  color: white; }

.categories__item {
  box-sizing: border-box;
  padding: 27px 185px 27px 29px; }

.categories__item:nth-child(2n+1) {
  background-color: #63d1bb; }

.categories__item:nth-child(2n+2) {
  background-color: #56c3b2; }

@media (min-width: 768px) {
  .categories {
    width: calc(100% - 100px); }
  .categories__title {
    font-size: 20px;
    line-height: 30px; }
  .categories__list {
    display: flex; }
  .categories__item {
    flex-basis: 50%; } }

@media (min-width: 1250px) {
  .categories {
    width: calc(100% - 200px); } }

.contacts {
  box-sizing: border-box;
  width: 100%;
  margin-top: 45px;
  margin-bottom: 39px; }

.contacts__title {
  font-family: "OpenSansBold", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: black; }

.contacts__wrapper {
  padding: 0 29px 25px; }

.contacts__list {
  margin: 0 auto;
  font-family: "OpenSansRegular", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  border: none; }

.contacts__name {
  display: block;
  min-width: 48px;
  margin-right: 30px; }

.contacts__map {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  margin: 0 auto 40px; }

.contacts__write-us-link--wrapper {
  padding: 0 29px;
  margin: 0 auto;
  max-width: 320px; }

@media (min-width: 768px) {
  .contacts__wrapper {
    padding-left: 50px;
    padding-right: 50px; }
  .contacts__title {
    margin-bottom: 55px;
    font-size: 43px;
    line-height: 50px; }
  .contacts__list {
    font-size: 17px; }
  .contacts__list-body {
    max-width: 668px;
    display: flex;
    flex-wrap: nowrap; }
  .contacts__item {
    flex-basis: 300px;
    margin-right: 34px;
    display: flex;
    flex-wrap: nowrap; }
  .contacts__name {
    margin-right: 25px; }
  .contacts__map {
    display: block;
    max-width: 768px;
    margin: 0 auto 55px; }
  .contacts__write-us-link--wrapper {
    width: 230px; } }

@media (min-width: 1250px) {
  .contacts {
    position: relative;
    width: calc(100% - 100px * 2);
    height: 457px;
    margin: 70px 100px 105px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; }
  .contacts__wrapper {
    box-sizing: border-box;
    width: 50%;
    padding-left: 175px;
    padding-right: 50px; }
  .contacts__title {
    font-size: 53px;
    line-height: 57px; }
  .contacts__list-body {
    flex-direction: column; }
  .contacts__item {
    flex-basis: 50px; }
  .contacts__name {
    min-width: 55px; }
  .contacts__map {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    max-width: 768px;
    margin: 0; }
  .contacts__write-us-link--wrapper {
    width: 50%;
    max-width: 50%;
    padding: 0;
    margin: 0;
    margin-top: auto; }
  .contacts__write-us-link {
    display: block;
    width: 230px;
    margin-left: 175px;
    margin-right: auto; } }

.copyright {
  box-sizing: border-box;
  width: 182px; }

.copyright__text {
  font-family: "OpenSansBold", sans-serif;
  font-size: 19px;
  line-height: 18px;
  color: black; }

.features-list {
  font-family: "OpenSansRegular", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #444444; }

.main-nav {
  display: block;
  box-sizing: border-box;
  margin: 0; }

.main-nav__logo {
  display: block;
  width: 86px;
  height: 35px;
  margin: 0 auto; }

.main-nav__logo-image {
  display: block;
  width: 86px;
  height: 35px;
  background-image: url("../../../img/mishka-logo-mobile.png");
  background-repeat: no-repeat;
  background-position: 0 0; }

.main-nav__item {
  box-sizing: border-box;
  padding: 30px 60px 30px 75px;
  font-family: "OpenSansBold", sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: black; }

.main-nav__search-link {
  display: block;
  position: relative; }

.main-nav__search-link::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -44px;
  width: 18px;
  height: 18px;
  background-image: url("../../../svg/search.svg");
  background-repeat: no-repeat;
  background-color: black;
  transform: rotate(90deg);
  opacity: 0.2; }

.main-nav__search-link:hover::before,
.main-nav__search-link:focus::before {
  opacity: 1;
  background-color: #63d1bb; }

.main-nav__search-link:active::before {
  opacity: 0.3;
  background-color: #63d1bb; }

.main-nav__cart-link {
  display: block;
  position: relative; }

.main-nav__cart-link::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -44px;
  width: 21px;
  height: 18px;
  background-image: url("../../../svg/cart.svg");
  background-repeat: no-repeat;
  background-color: black;
  transform: rotate(180deg);
  opacity: 0.2; }

.main-nav__cart-link:hover::before,
.main-nav__cart-link:focus::before {
  opacity: 1;
  background-color: #63d1bb; }

.main-nav__cart-link:active::before {
  opacity: 0.3;
  background-color: #63d1bb; }

.main-nav__shipping {
  display: none;
  box-sizing: border-box;
  font-family: "OpenSansRegular", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #444444; }

.main-nav__list--offers-nav {
  display: none;
  font-family: "OpenSansBold", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: black; }

@media (min-width: 768px) {
  .main-nav__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; }
  .main-nav__logo {
    width: 112px;
    height: 46px;
    margin: 0;
    margin-right: auto; }
  .main-nav__logo-image {
    width: 112px;
    height: 46px;
    background-image: url("../../../img/mishka-logo-tablet.png"); }
  .main-nav__list--user-nav {
    flex-basis: calc(100% - 112px);
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 90px;
    margin-left: auto; }
  .main-nav__list--site-nav {
    order: 3;
    flex-basis: 335px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 45px;
    margin-right: auto; }
  .main-nav__item--user-nav,
  .main-nav__item--site-nav {
    padding: 0; }
  .main-nav__item--user-nav:not(:last-child),
  .main-nav__item--site-nav:not(:last-child) {
    margin-right: 30px; }
  .main-nav__item--site-nav {
    font-size: 15px;
    line-height: 24px; }
  .main-nav__shipping {
    display: block;
    order: 10;
    height: 45px;
    margin-left: auto;
    padding-top: 10px; }
  .main-nav__search-link--visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px; }
  .main-nav__search-link::before {
    top: -9px; } }

@media (min-width: 1250px) {
  .main-nav__list--site-nav {
    order: 1;
    flex-basis: calc(50% - 149px / 2); }
  .main-nav__item--site-nav {
    font-size: 17px; }
  .main-nav__logo {
    order: 2;
    width: 149px;
    height: 72px;
    margin: 0 auto; }
  .main-nav__logo-image {
    width: 149px;
    height: 72px;
    background-image: url("../../../img/mishka-logo-desktop.png"); }
  .main-nav__list--user-nav {
    order: 3;
    flex-basis: calc(50% - 149px / 2); }
  .main-nav__list--offers-nav {
    order: 4;
    display: flex;
    flex-direction: row;
    align-items: center; }
  .main-nav__item--offers-nav {
    padding: 0;
    font-size: 15px; }
  .main-nav__item--offers-nav:not(:last-child) {
    margin-right: 30px; } }

.page-footer {
  box-sizing: border-box;
  height: 160px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f1f1f1; }

.page-footer__logo {
  display: none;
  width: 102px;
  height: 34px;
  background-image: url();
  background-position: 0 0;
  background-repeat: no-repeat; }

.page-footer__social {
  display: block;
  margin: 0 auto 20px; }

.page-footer__copyright {
  display: block;
  margin: 0 auto; }

@media (min-width: 768px) {
  .page-footer {
    height: 143px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    align-items: center; }
  .page-footer__logo {
    display: block;
    flex-basis: calc(50% - 141px / 2); }
  .page-footer__social {
    margin: 0; }
  .page-footer__copyright {
    margin: 0;
    flex-basis: calc(50% - 141px / 2); } }

@media (min-width: 1250px) {
  .page-footer {
    padding-right: 100px;
    padding-left: 100px; } }

.page-header {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .page-header {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px; } }

@media (min-width: 1250px) {
  .page-header {
    width: 1150px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px; } }

.page-main__title--bg-photo {
  max-width: 575px;
  min-height: 155px;
  padding-top: 75px;
  padding-right: calc((100% - 575px) / 2);
  padding-left: calc((100% - 575px) / 2);
  background-color: #f9f9f9;
  background-image: url("../../../img/hero-mobile-l.jpg");
  background-position: center;
  background-repeat: no-repeat; }

.page-main__title--bg-grey {
  background-image: none;
  background-color: #f1f1f1; }

.page-main__title {
  display: block;
  box-sizing: border-box;
  min-width: 250px;
  margin: 0 auto;
  padding-right: 5px;
  padding-left: 5px;
  font-family: "OpenSansBold", sans-serif;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: black; }

@media (min-width: 768px) {
  .page-main__title {
    font-size: 43px;
    line-height: 50px; }
  .page-main__title--bg-photo {
    max-width: 670px;
    min-height: 746px;
    padding-top: 165px;
    margin-top: -45px;
    margin-bottom: -315px;
    padding-right: calc((100% - 670px) / 2);
    padding-left: calc((100% - 670px) / 2);
    background-image: url("../../../img/hero-desktop.jpg");
    background-position: center -30px; }
  .page-main__title {
    padding-right: 80px;
    padding-left: 80px; } }

@media (min-width: 1250px) {
  .page-main__title {
    font-size: 53px;
    line-height: 57px; } }

/* Not index.html */
.page-main__description {
  font-family: "OpenSansRegular", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #444444; }

.reviews {
  box-sizing: border-box;
  padding-right: 29px;
  padding-left: 29px;
  padding-top: 30px;
  padding-bottom: 45px; }

.reviews__title {
  font-family: "OpenSansBold", sans-serif;
  font-size: 25px;
  line-height: 30px;
  color: black; }

.reviews__item {
  margin-bottom: 35px; }

.reviews__text {
  font-family: "OpenSansRegular", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #444444; }

.reviews__author-name {
  font-family: "OpenSansBold", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
  color: black; }

.reviews__author-link {
  display: block;
  font-family: "OpenSansRegular", sans-serif;
  font-size: 17px;
  line-height: 30px;
  color: #444444; }

.reviews__button-wrapper {
  margin: 0 auto;
  margin-bottom: 35px;
  width: calc(100% - 29px * 2);
  display: flex; }

.reviews__prev,
.reviews__next {
  flex-basis: 130px; }

.reviews__prev {
  margin-right: auto; }

.reviews__write {
  max-width: 320px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .reviews {
    position: relative;
    padding: 80px 50px;
    height: 457px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("../../../img/reviews-bg.jpg");
    background-position: 0 0;
    background-repeat: no-repeat; }
  .reviews__title {
    order: 1;
    display: block;
    font-size: 43px;
    line-height: 40px; }
  .reviews__write {
    max-width: 175px;
    margin-left: auto;
    margin-right: 0;
    order: 2;
    align-self: flex-start; }
  .reviews__item {
    order: 3;
    align-self: flex-end;
    margin: 0; }
  .reviews__text {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 50px; }
  .reviews__author-name {
    font-size: 18px; }
  .reviews__button-wrapper {
    position: absolute;
    bottom: 80px;
    right: 20px;
    display: block;
    width: 166px;
    margin: 0;
    order: 4; }
  .reviews__prev,
  .reviews__next {
    flex-basis: 83px; } }

@media (min-width: 1250px) {
  .reviews {
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 14%;
    padding-right: 0; }
  .reviews__title {
    font-size: 53px;
    line-height: 57px; } }

.social {
  box-sizing: border-box;
  width: 141px; }

.week-bestseller {
  box-sizing: border-box;
  padding: 34px 29px;
  background-color: white; }

.week-bestseller__item {
  font-family: "OpenSansBold", sans-serif;
  font-size: 25px;
  line-height: 30px;
  color: black; }

.week-bestseller__title {
  font-family: "OpenSansBold", sans-serif;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb; }

.week-bestseller__description {
  font-family: "OpenSansRegular", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #444444; }

.week-bestseller__image--mob {
  display: block; }

.week-bestseller__image--tabl,
.week-bestseller__image--deskt {
  display: none; }

.week-bestseller__price {
  font-family: "OpenSansBold", sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #444444; }

.week-bestseller__order {
  max-width: 320px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .week-bestseller {
    min-width: 668px;
    padding-right: 50px;
    padding-left: 50px; }
  .week-bestseller__header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 55px; }
  .week-bestseller__title {
    margin-left: auto; }
  .week-bestseller__item {
    font-size: 43px;
    line-height: 50px; }
  .week-bestseller__about {
    box-sizing: border-box;
    width: 100%;
    height: 404px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
  .week-bestseller__description {
    width: 43%;
    margin-bottom: 55px;
    font-size: 17px;
    line-height: 30px; }
  .week-bestseller__features {
    width: 43%;
    margin-bottom: 55px; }
  .week-bestseller__image--tabl {
    display: block; }
  .week-bestseller__image--mob,
  .week-bestseller__image--deskt {
    display: none; }
  .week-bestseller__image--svg {
    order: 1;
    flex-basis: 404px;
    align-self: flex-end;
    height: 404px; }
  .week-bestseller__price {
    font-size: 20px;
    align-self: center; }
  .week-bestseller__order {
    max-width: 290px;
    align-self: center;
    margin-top: auto; } }

@media (min-width: 1250px) {
  .week-bestseller {
    min-width: 100%;
    height: calc(636px + (70px * 2));
    padding: 70px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .week-bestseller__header {
    margin-top: 44px;
    margin-bottom: 65px; }
  .week-bestseller__title {
    order: 1;
    box-sizing: border-box;
    flex-basis: 16.66%;
    margin-left: 0;
    padding: 0 25px;
    text-align: center; }
  .week-bestseller__item {
    z-index: 1;
    order: 2;
    font-size: 53px;
    line-height: 57px; }
  .week-bestseller__about {
    flex-grow: 1;
    width: 28%;
    margin-left: 16.66%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; }
  .week-bestseller__description {
    width: 100%; }
  .week-bestseller__features {
    width: 100%;
    margin-bottom: auto;
    margin-top: auto; }
  .week-bestseller__image--deskt {
    display: block; }
  .week-bestseller__image--mob,
  .week-bestseller__image--tabl {
    display: none; }
  .week-bestseller__image--svg {
    height: 636px;
    position: absolute;
    bottom: 0;
    right: calc(-1 * (180% + 18%)); }
  .week-bestseller__price {
    margin-top: auto; }
  .week-bestseller__order {
    margin-top: 35px; } }

.good__title {
  font-family: "OpenSansBold", sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: black; }

.good__features {
  font-family: "OpenSansRegular", sans-serif;
  font-size: 13px;
  line-height: 30px;
  color: #444444; }

.good__price {
  font-family: "OpenSansBold", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: black; }

.video__title {
  font-family: "OpenSansBold", sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: black; }

.video__description {
  font-family: "OpenSansRegular", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #444444; }

.forms__item {
  border: none; }

.forms__title {
  font-family: "OpenSansBold", sans-serif;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb; }

.forms__label {
  font-family: "OpenSansBold", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: black; }

.forms__input--text {
  border: none;
  border-bottom: 2px solid black; }

.forms__input--text::placeholder {
  font-family: "OpenSansRegular", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #444444; }

.forms__warning {
  font-family: "OpenSansRegular", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #444444; }
