.button {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 52px;
    padding-top: 15px;
    padding-bottom: 15px;

    font-family: "OpenSansBold";   
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: $asphalt-grey;  
    
    background-color: white;

    border: 2px solid $asphalt-grey;
}