.categories {
    margin: 0 auto;
}

.categories__title {
    font-family: $text-bold;
    font-size: 19px;
    line-height: 24px;
    color: white;
}

.categories__item {
    box-sizing: border-box;
    padding: 27px 185px 27px 29px;
}

.categories__item:nth-child(2n+1) {
    background-color: $tiffany-turquoise;
}

.categories__item:nth-child(2n+2) {
    background-color: $tiffany-turquoise__dark;
}

@media (min-width: 768px) {
    .categories {
        width: calc(100% - 100px);
    }

    .categories__title {
        font-size: 20px;
        line-height: 30px;
    }

    .categories__list {
        display: flex;
    }

    .categories__item {
        flex-basis: 50%;
    }
}

@media (min-width: 1250px) {
    .categories {
        width: calc(100% - 200px);
    }
}