.video__title {
    font-family: $text-bold;
    font-size: 17px;
    line-height: 24px;
    color: black;
}

.video__description {
    font-family: $text-regular;
    font-size: 13px;
    line-height: 24px;
    color: $asphalt-grey;
}